* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;  
}

.row {
  display: flex;
  margin: 0 auto;
}

.column {
  flex: 1;
  /*margin: 20px;*/
}

.nav {
    color: lightslategray; 
}

.nav ul {
    display: flex;
    padding: 0;   
}

.nav li{
    text-align: left;
    padding: none;
    margin: 10px;
    list-style: none;
}

.nav ul li:nth-child(3) {
    color: black;
}

.header {
  background: url(../img/background.jpg);
  background-size: cover;
  padding: 80px 0;
  color: white;
  text-align: center;
  font-size: 23px;
  text-shadow: 2px 2px 4px #000000; 
  background-attachment: fixed;
  background-position: center bottom;
}

.header h1 {
    margin: 0;
}

.pricing {
    margin-top: 45px;
    margin-bottom: 55px;
    text-align: center;
}

.pricing .column {
    margin-right: 20px;
}

.pricing .column:last-child {
    margin-right: 0;
}


.option {
    font-size: 12px;
    letter-spacing: 3px;
}

.price {
    font-size: 60px;
}

.time {
    opacity: .5;
}
.column .title {
    padding: 40px;
    text-align: center;
    color: white;
}

.column .title.green {
    background: #669966;
    padding: 30px;
    line-height: 45px;
}

.column .title.blue { 
    background: #333399;
    padding: 30px;
    line-height: 45px;
}

.column .title.black {
    background: black;
    padding: 30px;
    line-height: 45px;
}

.column .features{
    border: 1px solid silver;
    background: #f7f7f7;
}

.column .features ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.column .features li {
    padding: 10px;
    border-bottom: 1px solid silver;
    font-size: 13px;
    color: gray;
}

.button{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

button {
    color: gray;
    background: white;
    border: 1px solid silver;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom:10px;
    font-weight: bold;
    border-radius: 23px;
    font-size: 13px;
}

.info {
    color: slategray;
    font-size: 13px;
    line-height: 25px;
}

.info .column{
    margin-right: 50px;
    margin-bottom: 40px;
}

.info .column:last-child {
    margin-right: 0;
}

.info-title {
    font-size: 15px;
    font-weight: bold;
}

.footer {
    background: black;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    bottom: 0;
    border-bottom-radius: 4px, solid, black;
    margin-top: 30px;
}

a {
    color: white;
}
   


